<!-- Learn front-end development at rocket speed! http://inarocket.com -->

<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> {% comment %}
    <script src="{% static 'jquery.min.js' %}"></script> {% endcomment %}
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.2/jquery.min.js"></script>


</head>

<body>
    <div class="container ">
        {% if messages %} {% for message in messages %}
        <div class="alert alert-{{ message.tags }} ">{{ message }}</div>
        {% endfor %} {% endif %} {% block content%} {% endblock content%}
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

   
</body>

</html>