{% extends "base.html" %} {% block title %} Update Profile {% endblock title %} {% block content %}

<div class="container">

    <h2>Update Profile</h2>
    <hr>
    <div class="row">
        <div class="col-md-12">


            <form method="post">
                {{ form.media }} {% csrf_token %} {{ user_form.as_p }} {{ profile_form.as_p }}
                <button type="submit" class="btn btn-primary">Save changes</button>
            </form>


        </div>
    </div>
</div>
{% endblock content %}